testgl/.codelite/*
testgl/.clang/*
testgl/workspace.tags

binDebug/*
bin/*

*.exe

testgl/SDLandOpenGL/*.mk
testgl/SDLandOpenGL/client.txt
testgl/SDLandOpenGL/Debug/*
testgl/SDLandOpenGL/SDLandOpenGL.txt
testgl/Makefile

resources/*
libraries/*
